:root {
    --right-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* (paragraphs) */
    --transparent-white: hsla(0, 0%, 100%, 0.75);

    /* background, headings, buttons */
    --very-light-gray: hsl(0, 0%, 95%);

    /* --font-size: 15px; */
    --font-size: 0.9375rem;

    --heading-font: "Big Shoulders Display", sans-serif;
    --body-font: "Lexend Deca", sans-serif;
}

/* Typography */

html {
    font-size: var(--font-size);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: var(--heading-font);
    font-weight: 700;

    font-size: 2rem;
}

p,
a {
    font-family: var(--body-font);
    font-weight: 400;
}

/* Layout */

main {
    margin: 2em 0;
}

.container {
    width: 80%;
    max-width: 1360px;

    margin-left: auto;
    margin-right: auto;

    border: 2px solid purple;
}

.card {
    padding: 4em 3.2em;

    border: 2px solid red;

    color: var(--transparent-white);
}

.card-body {
    /* width: 90%; */

    line-height: 1.6;
}

.card.one {
    background-color: var(--right-orange);
}

.card.two {
    background-color: var(--dark-cyan);
}

.card.three {
    background-color: var(--very-dark-cyan);
}
