:root {
    --right-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* (paragraphs) */
    --transparent-white: hsla(0, 0%, 100%, 0.75);

    /* background, headings, buttons */
    --very-light-gray: hsl(0, 0%, 95%);

    /* --font-size: 15px; */
    --font-size: 0.9375rem;

    --heading-font: "Big Shoulders Display", sans-serif;
    --body-font: "Lexend Deca", sans-serif;
}

/* Typography */

html {
    font-size: var(--font-size);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* height: 100vw; */
}

h2 {
    font-family: var(--heading-font);
    font-weight: 700;

    font-size: 2rem;
}

p,
a {
    font-family: var(--body-font);
    font-weight: 400;
}

/* Layout */
#main {
    padding: 2em 0;
}

.container {
    width: 90%;
    max-width: 900px;

    margin: auto;
}

.add-ons {
    color: var(--transparent-white);

    height: auto;
}

.card-body {
    width: 95%;

    padding: 2.5em 0;

    line-height: 1.6;
}

.card {
    padding: 2em;
}

.card.one {
    background-color: var(--right-orange);

    border-radius: 10px 10px 0 0;
}

.card.two {
    background-color: var(--dark-cyan);
}

.card.three {
    background-color: var(--very-dark-cyan);

    border-radius: 0 0 10px 10px;
}

a {
    background-color: var(--transparent-white);

    text-decoration: none;

    padding: 0.5em 1em;

    border-radius: 1em;
}

.one a {
    color: var(--right-orange);
}

.two a {
    color: var(--dark-cyan);
}

.three a {
    color: var(--very-dark-cyan);
}

@media (min-width: 850px) {
    body {
        height: 100vh;
        width: 100vw;

        overflow: hidden;
    }

    #main {
        height: 80vh;
        width: 100vw;

        /* padding: 5; */

        margin: auto;
    }
    .add-ons {
        /* height: auto; */
        height: 70vh;

        display: flex;
        align-items: center;
    }

    .card {
    }
}
